@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;

}

header {
    background-color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.logo img {
    height: 100px;
    padding: 0 23px;
}

nav ul {
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding: 0 23px;
}

nav ul li a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: rgb(83, 215, 248);
    /* text-shadow: 2px 2px 4px rgb(83, 215, 248);  */
}

.navbar {
    margin: 0 auto;
    display: flex;
    /* Use flexbox for the ul */
    justify-content: center;
}

.login {
    padding-right: 20px;
}

.register {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 17px;
    width: 120px;
    height: 30px;
    background: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    margin: 2px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.register:hover {
    color: rgb(83, 215, 248);
    border: 2px solid rgb(83, 215, 248);
    box-shadow: 0 4px 15px rgb(83, 215, 248);
    /* Shadow effect on hover */
}

.home {
    display: flex;
    justify-content: center;
    height: 58vh;
    background: rgb(0, 0, 0, 0.5) url(./img/hero1.png);
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    margin: 0px;
    padding: 20px;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quote1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(83, 215, 248);
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: bold;
    /* text-decoration: wavy; */
    margin-bottom: 10px;
}

.quote2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
}

.eng1{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    width: 180px;
    height: 36px;
    background: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: box-shadow 0.3s ease; 
}
.eng1:hover {
    color: rgb(83, 215, 248);
    border: 2px solid rgb(83, 215, 248);
    box-shadow: 0 4px 15px rgb(83, 215, 248);
    /* Shadow effect on hover */
}
.about{
    background-color: white;
    height: 95vh;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}
.about-content{
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 17px;
    margin: 0 0 15px 0;
}
.about-content h1{
    color: black;
    font-size: 35px;
    font-weight: bold;
}
.about-content span{
    color: rgb(117, 28, 28);
    font-size: 23px;
    font-weight: bold;
}
.about > p{
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    text-decoration: underline;
    font-weight: bold;
}
.organizers{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0 0 15px 0;
}
.img1{
    display: flex;
    flex-direction: column;
    /* align-items: space-around; */
    margin: 0 40px;
    
}
.img1 img{
    height: 150px;
}
.img1 span{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: rgb(117, 28, 28);
    margin: 6px 0;;
}

.events{
    height: 60vh;
    background-color: black;
}
.events >h2 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    padding: 20px  0 20px 20px;
    color: #ffffff;
}
.events-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 20px;
    gap: 10px;
}
.event-card {
    background-color: transparent;
    border: 3px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    /* box-shadow: 0 2px 5px white; */
}
.event-card >img {
    width: 53%;
}
.event-info {
    padding: 15px;
}
.event-info >h3 {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    margin: 0 0 10px 0;
    color: white;
}
.event-info >p {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #dbd5d5;
}
/* .contact {
    height: 60vh;
}

.box-img {
    margin: 20px 20px 20px 20px;
    background-color: lightcoral;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 54vh;
    border-radius: 0.25rem;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
}
#one{
    display: flex;
    flex-direction: column;
}
#info{
    display: flex;
    flex-direction: column;
} */


.subscribe {
    background-color: burlywood;
    height: 29vh;
    display: flex;

    flex-direction: column;
}

.subcontent {

    font-family: "Poppins", sans-serif;
    margin: 20px 0 10px 200px;
}

#t1 {
    color: black;

    font-size: 30px;
    font-weight: bold;
}

#t2 {
    color: rgb(117, 28, 28);
    font-size: 20px;
    font-weight: bold;
}

#mail {
    height: 30px;
    border-radius: 18px;
    width: 110vh;
    padding: 2px 5px;
    color: black;
    border: 2px solid black;
    border-radius: 20px;
}

.area {
    display: flex;
    /* justify-content: space-e; */
    align-items: center;
    flex-direction: row;
    margin: 10px 0 10px 200px;

}

#email:hover {
    color: rgb(3, 3, 3);
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0 4px 15px black;
}

.subsc {
    margin: 0 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 17px;
    width: 120px;
    height: 40px;
    color: black;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
    background: white;
    transition: box-shadow 0.3s ease;
}

.subsc:hover {
    color: rgb(3, 3, 3);
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0 4px 15px black;
    /* Shadow effect on hover */
}

.faqs{
    background-color: white;
    height: 40vh;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 17px;
}
.fhead{
    text-align: center;
}

/* Footer */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 12vh;
    background-color: black;
    color: white;
}